### JetBrains template

**/*.iml

## Directory-based project format:
**/.idea/

## Plugin-specific files:

# IntelliJ
**/out/


### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

**/build/
**/dist/
**/test/